variables:
  configuration: Release
  version: 1.1.0

stages:
  - build
  - pack
  - publish

build:
  stage: build
  image: mcr.microsoft.com/dotnet/core/sdk:3.0
  script:
    - dotnet publish horinf.sitemapper -c $configuration /p:Version=$version.$CI_PIPELINE_IID -o horinf.sitemapper/bin/$configuration/publish
  artifacts:
    expire_in: 1h
    name: "horinf.sitemapper.$CI_PIPELINE_ID"
    paths:
      - horinf.sitemapper/bin/$configuration/publish


pack:
  stage: pack
  image: mcr.microsoft.com/dotnet/core/sdk:3.0
  script:
    - dotnet pack /p:Version=$version
  artifacts:
    expire_in: 1h
    name: "horinf.sitemapper.$CI_PIPELINE_ID"
    paths:
      - ./*.nupkg
  when: manual
  only:
    - master

pack:
  stage: pack
  image: mcr.microsoft.com/dotnet/core/sdk:3.0
  script:
    - dotnet pack /p:Version=$version-alpha.$CI_PIPELINE_IID
  artifacts:
    expire_in: 1h
    name: "horinf.sitemapper.$CI_PIPELINE_ID"
    paths:
      - ./*.nupkg
  when: manual
  only:
    - /^Alpha.*$/


publish_master:
  stage: publish
  image: mcr.microsoft.com/dotnet/core/sdk:3.0
  script:
    - dotnet nuget push horinf.sitemapper.$version.nupkg -k $nugetpush -s https://api.nuget.org/v3/index.json
  when: manual
  only:
    - master
  
publish_master:
  stage: publish
  image: mcr.microsoft.com/dotnet/core/sdk:3.0
  script:
    - dotnet nuget push horinf.sitemapper.$version-alpha.$CI_PIPELINE_IID.nupkg -k $nugetpush -s https://api.nuget.org/v3/index.json
  when: manual
  only:
    - /^Alpha.*$/

  